---
const openMenu = false;
---

<nav
  class="fixed top-0 left-0 w-full bg-white/60 backdrop-blur-xl border-b z-50"
>
  <div class="relative container mx-auto px-4">
    <div class="flex flex-row justify-between items-center py-4">
      <h1 class="font-bold text-xl">{"<XFC />"}</h1>

      <ul class="hidden md:flex space-x-8">
        <li><a href="/">Inicio</a></li>
        <li><a href="#sobremi">Sobre mi</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>

      <div class="md:hidden relative w-6 h-6">
        <button id="toggleMenu" class="absolute cursor-pointer">
          <svg
            id="hamburger__button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg>

          <svg
            id="close_button"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 hidden"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- navegacion movil -->
    <div id="menu" class="py-4 border-t md:hidden hidden">
      <ul class="flex flex-col space-y-2">
        <li><a href="/" id="navlink" class="block py-1">Inicio</a></li>
        <li><a href="#sobremi" id="navlink" class="block py-1">Sobre mi</a></li>
        <li>
          <a href="#proyectos" id="navlink" class="block py-1">Proyectos</a>
        </li>
        <li>
          <a href="#contacto" id="navlink" class="block py-1">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  const button = document.querySelector("#toggleMenu");
  const links = document.querySelectorAll("#navlink");

  const showMenu = () => {
    document.querySelector("#menu")?.classList.toggle("hidden");
    document.querySelector("#hamburger__button")?.classList.toggle("hidden");
    document.querySelector("#close_button")?.classList.toggle("hidden");
  };

  links.forEach((link) => link.addEventListener("click", showMenu));

  button?.addEventListener("click", showMenu);
</script>
